## 1. Tipe data, <i>input-output</i>, dan penugasan pada variabel

#### <i>Output

In [1]:
print("Halo dunia!")

Halo dunia!

#### <i>Tipe data

In [2]:
print(type(1))
print(type(1.0))
print(type("1"))

<class 'int'>
<class 'float'>
<class 'str'>

#### <i>Input

In [3]:
a = input("Masukkan sesuatu : ")
print("Tadi aku memasukkan", a, "yang memiliki tipe data", type(a))

Masukkan sesuatu : VIVA TELKOM
Tadi aku memasukkan VIVA TELKOM yang memiliki tipe data <class 'str'>

#### Menghapus vairabel

In [4]:
del a

#### Operasi Aritmatika

In [5]:
print(1+1)
print(3-4)
print(2*5)
print(9/2)
print(6**6)

2
-1
10
4.5
46656

In [6]:
"Politeknik"+" "+"JOSS!1!1!1"

'Politeknik JOSS!1!1!1'

In [7]:
" JOSS! "*3

' JOSS!  JOSS!  JOSS! '

In [8]:
print(1 <= 2)
print(2 == 3)
print(1 == 1.0)

True
False
True

#### Contoh Penerapan

In [9]:
alas = float(input("Masukkan nilai alas segitiga : "))
tinggi = float(input("Masukkan nilai tinggi segitiga : "))

luas = alas*tinggi/2

print("\nLuasnya adalah", luas)

Masukkan nilai alas segitiga : 20
Masukkan nilai tinggi segitiga : 20

Luasnya adalah 200.0

## 2. Percabangan

In [10]:
if (luas <= 50):
    print("Luas daerah kecil")
else:
    print("Luas daerah ndak kecil")

Luas daerah ndak kecil

In [11]:
if (luas <= 50):
    print("Luas daerah kecil")
elif (luas >= 50 and luas <= 100):
    print("Luas daerah lumayan")
else:
    print("Luas daerah ndak kecil")

Luas daerah ndak kecil

## 3. Perulangan

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
i = 0
while(i<10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

## 4. Operasi <i>list</i>

In [14]:
larik = [2,4,6,8,10]

In [15]:
print(larik)

[2, 4, 6, 8, 10]

In [16]:
len(larik)

5

In [17]:
larik.append(12)
larik

[2, 4, 6, 8, 10, 12]

In [18]:
larik.reverse()
larik

[12, 10, 8, 6, 4, 2]

In [19]:
larik.sort()
larik

[2, 4, 6, 8, 10, 12]

#### Akses elemen berdasarkan indeks

In [20]:
print(larik[0])
print(larik[-1])
print(larik[2])
print(larik[1:4])

2
12
6
[4, 6, 8]

#### Perulangan pada <i>list

In [21]:
for elemen in larik:
    print(elemen)

2
4
6
8
10
12

In [22]:
for i in range(len(larik)):
    print(i)

0
1
2
3
4
5

In [23]:
larik[0]
larik[-1]

12

In [24]:
del larik[0]
larik

[4, 6, 8, 10, 12]

In [25]:
larik.remove(10)
larik

[4, 6, 8, 12]

In [26]:
larik_kuadrat = []
for i in larik:
    larik_kuadrat.append(i**2)

In [27]:
larik_kuadrat

[16, 36, 64, 144]

#### Contoh penerapan

In [28]:
nama_mhs = []
jurusan_mhs = []
kota_asal_mhs = []
lanjut = 'y'

while(lanjut=='y'):
    nama = input("Masukkan nama mahasiswa : ")
    jurusan = input("Masukkan jurusan : ")
    kota = input("Masukkan kota asal mahasiswa : ")
    
    nama_mhs.append(nama)
    jurusan_mhs.append(jurusan)
    kota_asal_mhs.append(kota)
    
    lanjut = input("Tambah data lagi?(y/n) :")
    
for i in range(len(nama_mhs)):
    print(nama_mhs[i], "kuliah di jurusan", jurusan_mhs[i], "kota asalnya", kota_asal_mhs[i])

Masukkan nama mahasiswa : Jono
Masukkan jurusan : Telkom
Masukkan kota asal mahasiswa : Sampang
Tambah data lagi?(y/n) :y
Masukkan nama mahasiswa : Zakaria
Masukkan jurusan : Filsafat Barat
Masukkan kota asal mahasiswa : Beijing
Tambah data lagi?(y/n) :n
Jono kuliah di jurusan Telkom kota asalnya Sampang
Zakaria kuliah di jurusan Filsafat Barat kota asalnya Beijing

<a href="https://github.com/Rakhid16/NumPy-Dasar/blob/master/Operasi-operasi%20List.ipynb">Selengkapnya</a>

## 5. Fungsi

#### Tanpa argumen

In [29]:
def segitiga():
    alas = input("Masukkan nilai alas : ")
    tinggi = input("Masukkan nilai tinggi : ")
    
    luas = int(alas)*int(tinggi)/2
    print(luas)

In [30]:
segitiga()

Masukkan nilai alas : 8
Masukkan nilai tinggi : 8
32.0

#### Dengan argumen

In [31]:
def segitiga(alas, tinggi):
    return alas*tinggi/2

In [32]:
alas = input("Masukkan nilai alas : ")
tinggi = input("Masukkan nilai tinggi : ")

Masukkan nilai alas : 9
Masukkan nilai tinggi : 9

In [33]:
segitiga(int(alas),int(tinggi))

40.5